/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap');

body {
	font-family: "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans;
	color: #21252A;
}

h1, h2, h3, h4, h5, h6 {
  font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  font-weight: 100;
  color: #21252A;
}

/**/

/*Code style*/
.remark-inline-code {
	font-family: 'Source Code Pro', monospace;
	color: #22ABF6;
}

.remark-code-line-highlighted {
	background: #22ABF6;
	color: #fff;
}

.hljs-default .hljs {
	font-family: 'Source Code Pro', monospace;
	color: #434c56;
	background: #ebf8fe;
}

.hljs-comment {
  color: #9C9B9D !important;
}

.remark-code-line-highlighted .hljs-comment {
  color: #b6e3fc !important;
}

.hljs-string {
	color: #18B6A2 !important;
}

.remark-code-line-highlighted .hljs-string {
	color: #a5f3e9 !important;
}

.hljs-number {
	color: #DB5F05 !important;
}

.remark-code-line-highlighted .hljs-number {
	color: #fdc49b !important;
}

.hljs-literal {
	color: #EF9C32 !important;
}
/**/

h1 {
	border-bottom: 1px solid #21252A;
	margin-top: 0.2rem;
  margin-bottom: 1rem;
}

h2, h3 {
	margin-top: 0.2rem;
	margin-bottom: 0.5rem;
}

table {
	font-size: 1.2rem;
}

a {
  color: #21252A;
  box-shadow: inset 0 -4px 0 rgba(128, 138, 255, 0.25);
  border-bottom: 3px solid rgba(128, 138, 255, 0.25);
  background: transparent;
  transition: background 150ms ease;
  }

a:hover,
a:focus {
  background: rgba(128, 138, 255, 0.25);
}

.remark-slide-content {
	background-color: #fff;
	font-size: 1.6rem;
	font-weight: 100;
}

.realbig {
	font-size: 5rem;
}

.inverse-blue {
	background-color: #22ABF6;
	color: #fff;
	text-shadow: none;
}

.inverse-blue h1 {
	color: #fff;
	font-size: 7rem;
}

.inverse-orange {
	background-color: #FEAB60;
	color: #fff;
	text-shadow: none;
}

.inverse-orange h1 {
	color: #fff;
	font-size: 7rem;
}

.inverse-red {
	background-color: #F58B82;
	color: #fff;
	text-shadow: none;
}

.inverse-red h1 {
	color: #fff;
	font-size: 7rem;
}

.inverse-green {
	background-color: #57DBC1;
	color: #fff;
	text-shadow: none;
}

.inverse-green h1 {
	color: #fff;
	font-size: 7rem;
}

.title-slide {
	background-color: #57DBC1;
	color: #fff;
	text-shadow: none;
}

.title-slide h1 {
	font-size: 7rem;
}

.title-slide h1, 
.title-slide h2, 
.title-slide h3, 
.title-slide h4, 
.title-slide h5, 
.title-slide h6 {
	color: #fff;
}

.title-slide h2 {
	font-weight: 300;
}

div.slides-footer {
  position: absolute;
  bottom: 15px;
  left: 81%;
  height: 20px;
  width: 100%;
}

.inverse-blue .slides-footer,
.inverse-orange .slides-footer,
.inverse-red .slides-footer,
.inverse-green .slides-footer {
	display: none;
}

.inverse-blue .remark-slide-number,
.inverse-orange .remark-slide-number,
.inverse-red .remark-slide-number,
.inverse-green .remark-slide-number {
	display: none;
}

svg {
	height: 100%;
	color: #d3d8de;
}

svg:hover {
	color: #ff65ad;
}

a.footer-icon-link {
	box-shadow: none;
  border-bottom: none;
}

a.footer-icon-link:hover {
	background: transparent;
}

.remark-slide-number {
	bottom: 5px;
	color: #c5cbd3;
	font-size: 1rem;
	font-weight: 300;
}

.footnote {
	color: #a8b1bd;
	font-weight: 0.2rem;
	border-top: 1px solid #a8b1bd;
	bottom: 1rem;
}
