<div class = "course-books">

	<a class = "adv-r" href= "https://adv-r.hadley.nz"> <i data-feather="book"></i>
		<span class = "book-title"> Advanced R: Second Edition</span>
	</a>
		<span class = "book-author"> Hadley Wickham</span> 
		<br/>

	<a class = "r4ds" href="https://r4ds.had.co.nz/"> <i data-feather="book"></i>
		<span class = "book-title"> R for Data Science</span>
	</a>
		<span class = "book-author"> Hadley Wickham & Garrett Grolemund</span>
		<br/>

	<a class = "shiny" href="https://mastering-shiny.org/"> <i data-feather="book"></i>
		<span class = "book-title"> Mastering Shiny</span>
	</a>
		<span class = "book-author"> Hadley Wickham</span>
		<br/>

	<a class = "happygit" href= "https://happygitwithr.com/"> <i data-feather="book"></i>
		<span class = "book-title"> Happy git with R</span>
	</a>
		<span class = "book-author"> Jenny Bryan</span> 
    <br/>
	<a class = "other" href=""> <i data-feather="book"></i>
		<span class = "book-title"> Other content not in the course books</span>
		</a>
		<span class = "book-author"></span>

</div>